$color-success: #31cf9a;
$menu_bg_color: #2a2b3c;
$menu_bg_hover_color: #222230;
$menu_font_color: #fff;
$menu_font_active_color: #2d98ff;
$color-danger: #f56c6c;
$gap-sm: 12px;
$gap: 16px;
$gap-lg: 20px;
$font-sm: 12px;
$font-md: 16px;
$border-color-light: #e4e7ed;
$border-color-lighter: #ebeef5;
$--color-primary: #2d98ff;
// $--color-text-primary: #515a6e;
$--color-text-regular: #515a6e;
$--color-text-secondary: #808695;
