/**
 * 本文件是项目样式构建主入口文件
**/

/* 全局reset样式表 */
@import './reset.scss';

/* highcharts样式重置和通过css减少配置项 */
@import './highcharts.scss';

/* Ai-Map全局样式表 */
@import './gis.scss';

/* 通用样式表 */
@import './common.scss';
